# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Downloads\yeah-its-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
